NET "MainClk"		LOC = P23;
#NET "Rst"		LOC = P99;
#NET "DCF"		LOC = P46;
#
NET "KEY1"		LOC = P96;
NET "KEY2"		LOC = P97;
NET "KEY3"		LOC = P49;
NET "KEY4"		LOC = P50;
#
NET "DIG0[0]"	LOC = P12;
NET "DIG0[1]"	LOC = P13;
NET "DIG0[2]"	LOC = P6;
NET "DIG0[3]"	LOC = P7;
NET "DIG0[4]"	LOC = P8;
NET "DIG0[5]"	LOC = P10;
NET "DIG0[6]"	LOC = P9;
NET "DIG0[7]"	LOC = P11;
#
NET "DIG1[0]"	LOC = P22;
NET "DIG1[1]"	LOC = P24;
NET "DIG1[2]"	LOC = P14;
NET "DIG1[3]"	LOC = P15;
NET "DIG1[4]"	LOC = P16;
NET "DIG1[5]"	LOC = P18;
NET "DIG1[6]"	LOC = P17;
NET "DIG1[7]"	LOC = P19;
#
NET "DIG2[0]"	LOC = P34;
NET "DIG2[1]"	LOC = P35;
NET "DIG2[2]"	LOC = P27;
NET "DIG2[3]"	LOC = P28;
NET "DIG2[4]"	LOC = P29;
NET "DIG2[5]"	LOC = P32;
NET "DIG2[6]"	LOC = P30;
NET "DIG2[7]"	LOC = P33;
#
NET "DIG3[0]"	LOC = P43;
NET "DIG3[1]"	LOC = P44;
NET "DIG3[2]"	LOC = P36;
NET "DIG3[3]"	LOC = P37;
NET "DIG3[4]"	LOC = P39;
NET "DIG3[5]"	LOC = P41;
NET "DIG3[6]"	LOC = P40;
NET "DIG3[7]"	LOC = P42;